header {
    background-color: #301f0a;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 70px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    text-align: center;
    color: #c39947;
        }

main {
    background-color: #f8efd8;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    grid-template-areas: 
    "cubreBotas pollerinS"
    "pollerinM pollerinL";
}

.card h3{
    font-family: 'Staatliches';
    padding: 20px;
}

.card button{
    background-color: #301f0a;
    color: #f8efd8;
    font-family: 'Staatliches';
}
