main {
  background-color: #f9f8fa !important;
}

.cart-modal-overlay {
  position: fixed;
  width: 110vw;
  height: 100%;
  z-index: 2;
  transform: translateY(180%);
  transition: .5s ease-out;
}
.cart-modal-overlay.open {
  transform: translateY(41%);
}

.cart-btn {
  display: flex;
  justify-content: flex-end;
}

#cart {
  display: flex;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  margin: 5px;
  &:hover{
    color: $oscuro;
  }
}

.cart-quantity {
  color: white;
  background-color: $clarito;
  padding: .1em .2em;
  position: relative;
  margin: .1em 7.5em .7em 0;
  right: 0;
  border: solid 2px $clarito;
  border-radius: 15px;
  font-weight: bolder;
}

.cart-modal {
  height: 100vh;
  float: inline-start;
  width: 40%;
  background-color: #ecd3dd;
  overflow: scroll;
  overflow-x: hidden;
  
}

#close-btn {
  font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
}


.product-rows {
  display: grid;
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
  /*   display: none; */
}

.cart-total {
  display: flex;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: $letrita;
  color: black;
  margin: 30px 0 0 30px;
}

.total-price {
  color: black;
  font-size: 2rem;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: $oscuro;
  color: $reclarito;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
  &:hover{
    background-color: $clarito;
    color: $oscuro;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  padding: 40px;
  grid-template-areas:
    "card01 card02 card03"
    "card04 card05 card06"
    "card07 card08 card09";
}

.agregar-carrito{
  font-size: 1rem;
  font-weight: bolder;
  background-color: $oscuro;
  color: $reclarito;
  padding: 0.2em 0.4em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
  &:hover{
    color: $oscuro;
    background-color: $reclarito;
  }
}

.cart-image {
  width: 6rem;
  margin: 1em;
}

.product-quantity {
  width: 4rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.remove-btn {
  padding: .4em .8em;
  background-color: $oscuro;
  color: $reclarito;
  outline: none;
  border: $oscuro;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1rem;
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 2px;
  &:active {
    transform: translateY(4px);
  }
  &:hover{
    background-color: $clarito;
    color: $oscuro;
  }
}

.card h3 {
  font-family: $letrita;
  padding: 20px;
  button {
    background-color: #301f0a;
    color: #f8efd8;
    font-family: $letrita;
  }
}

.destacado{
  background-color: $oscuro;
}

.destacados {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  font-family: $letrita;
  font-size: 50px;
  letter-spacing: 2px;
  color: $reclarito;
  animation: animate 2s linear infinite;
}
@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.card-title {
  font-family: $letrita;
  font-size: 28px;
}

.card-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  font-size: 20px;
}

.card-img-top:hover{
  transform: scale(1.1);
  transition: 1.5s;
}

#buscar {
  color: black;
  border-color: black;
  &:hover{
    background-color: $clarito;
    color: $reclarito;
    border-color: $reclarito;
    font-weight: 500;
    box-shadow: $clarito;
  }
}
.d-flex{
  width: 300px;
}

.swal-button {
  background-color: $oscuro;
  color: $reclarito;
  &:hover{
    background-color: $clarito !important;
    color: $oscuro;
  }
}

.swal-text{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: black;
}

.card-product{
  font-family: $letrita;
  font-size: 30px;
  padding: 10px;
}

