main {
    background-color: #eadcc9 !important;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    background-color: #eadcc9;
    grid-template-areas: 
    "card01 card02 card03"
    "card04 card05 card06"
    "card07 card08 card09";
}

.card h3{
    font-family: 'Staatliches';
    padding: 20px;
    button{
    background-color: #301f0a;
    color: #f8efd8;
    font-family: 'Staatliches';
}
}